*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background: linear-gradient(135deg, #0f8b4c, #18b45f);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* LOGIN / REGISTER CONTAINER */
.login-container{
    width:100%;
    max-width:420px;
    padding:20px;
}

/* CARD */
.login-card{
    background:#fff;
    padding:25px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
    text-align:center;
}

/* LOGO */
.logo{
    font-size:50px;
    margin-bottom:10px;
}

/* TITLE */
h1{
    font-size:22px;
    color:#0f8b4c;
    margin-bottom:5px;
}

p{
    font-size:14px;
    color:#777;
    margin-bottom:20px;
}

/* INPUTS */
input{
    width:100%;
    padding:14px;
    margin-bottom:12px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
    font-size:15px;
    transition:0.3s;
}

input:focus{
    border-color:#0f8b4c;
    box-shadow:0 0 5px rgba(15,139,76,0.3);
}

/* BUTTON */
button{
    width:100%;
    padding:14px;
    background:#0f8b4c;
    color:#fff;
    border:none;
    border-radius:10px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0c6f3d;
}

/* LINKS */
.links{
    margin-top:15px;
}

.links a{
    display:block;
    color:#0f8b4c;
    text-decoration:none;
    font-size:14px;
    margin-top:8px;
}

.links a:hover{
    text-decoration:underline;
}

/* MESSAGE */
#message{
    margin-top:10px;
    font-size:13px;
    color:red;
}

.dashboard-footer{
    margin-top:30px;
    padding:20px;
    text-align:center;
    background:#fff;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.dashboard-footer p{
    font-size:18px;
    font-weight:bold;
    color:#16a34a;
}

.dashboard-footer small{
    color:#666;
}
